{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<body>
    <h2><center><u>Profile</u></center></h2>
    <div class="profile-card">
        
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="User Profile Picture">
        {% else %}
        <img src="{% static 'img/img1.jpeg' %}" alt="User Profile Picture">
        {% endif %}
        
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
        <p>{{ user.court_type }}</p>
        <p>{{ user.court_jurisdiction }}</p>
        <p>{{ user.place  }}</p>

        <div class="info">
            
        </div>
        <a href="/edit_court_profile" class="edit-button">Edit Profile</a>
    </div>
</body>
</html>

{% include 'footer1.html' %}