{% load static %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/view_bookings.css' %}">

<h2 style="text-align: center; margin-top: 20px;">Request Trial</h2>

<div class="bookings-container">
    {% if bookings %}
    <table>
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Case Abstract</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.first_name }}</td>
                <td>{{ booking.user.email }}</td>
                <td>
                    {% if booking.content %}
                        <a href="{{ booking.content.url }}" target="_blank" download>Download</a>
                    {% else %}
                        No file uploaded
                    {% endif %}
                </td>
                <td>
                    {% for trial in trials %}
                        {% if trial.booking.id == booking.id %}
                            {% if trial.status == 'Requested' %}
                            <p>Requested</p>
                            {% elif trial.status == 'Approved' %}
                            <p>Approved</p>
                            <a href="" class="btn trial-btn">View Trial Schedule</a>
                            {% else %}
                            {{ trial.status }}
                            <a href="{% url 'add_request_trial' booking.id %}" class="btn trial-btn">⚖ Request for Trial</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center; margin-top: 20px;">No approved bookings found.</p>
    {% endif %}
</div>
{% include 'footer.html' %}
