{% load static %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/view_bookings.css' %}">

<h2 style="text-align: center; margin-top: 20px;">Request For Trial</h2>

<div class="bookings-container">
    {% if bookings %}
    <table>
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Case Abstract</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.first_name }}</td>
                <td>{{ booking.user.email }}</td>
                <td>
                    {% if booking.content %}
                        <a href="{{ booking.content.url }}" target="_blank" download>Download</a>
                    {% else %}
                        No file uploaded
                    {% endif %}
                </td>
                <td>
                    {% if booking.status == "Approved" %}
                    <a href="{% url 'add_request_trial' booking.id %}" class="btn trial-btn">⚖ Request for Trial</a>
                    

                    {% endif %}
                    {% with None as trial_found %}
                        {% for trial in trials %}
                            {% if trial.booking.id == booking.id %}
                                {% with trial as trial_found %}

                                
                                    {% if trial.status == 'Requested' %}
                                        <p><span style="color: rgb(80, 79, 79); font-weight: bold;">Requested</span></p>

                                    {% elif trial.status == 'Approved' %}
                                        <p><span style="color: green; font-weight: bold;">Approved but Not scheduled</span></p>

                                    {% elif trial.status == 'Scheduled' %}
                                        <p style="color: green; font-weight: bold;">Scheduled your request.</p>
                                        <a href="{% url 'view_trial_schedule' trial.id %}" class="btn trial-btn">View Schedule</a>

                                        {% for schedule in trial.trial_schedule.all %}
                                        {% for report in schedule.schedule_report.all %}
                                            {% if report.status == "Uploaded" %}
                                                <br>
                                                <span style="color: rgb(2, 24, 1); font-weight: bold;">Report Uploaded!</span>
                                                <a href="{{ report.file.url }}" class="btn download-btn" download>Download Report</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                        
                                    {% elif trial.status == 'Rejected' %}
                                        <p style="color: red; font-weight: bold;">Rejected</p>
                                    {% else %}
                                        <a href="{% url 'add_request_trial' booking.id %}" class="btn trial-btn">⚖ Request for Trial</a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                       
                    {% endwith %}
                </td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center; margin-top: 20px;">No approved bookings found.</p>
    {% endif %}
</div>

{% include 'footer.html' %}