{% load static %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/view_laws.css' %}">

<div class="laws-list-container">
    <h2><center>New Laws</center></h2>
    {% if laws %}
        {% for law in laws %}
        <div class="law-card">
            <div class="law-row"><strong>Court:</strong> {{ law.court.court_type|default:"N/A" }}</div>
            <div class="law-row"><strong>Law Name:</strong> {{ law.name }}</div>
            <div class="law-row"><strong>IPC Section:</strong> {{ law.ipc }}</div>
            <div class="law-row"><strong>Description:</strong> {{ law.description }}</div>
            <div class="law-row"><strong>Year of Act:</strong> {{ law.year_of_act|date:"Y" }}</div>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-laws">No laws found.</p>
    {% endif %}
</div>




{% include 'footer1.html' %}
