{% load static %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/view_trial_schedule.css' %}">

<div class="trial-details-container">
    <h2>Trial Schedule Details</h2>
    
    <table>
        {% if schedules %}
        {% for schedule in schedules %}  {# Looping in case of multiple schedules #}
        <tr>
            <th>Client Name</th>
            <td>{{ schedule.trial.booking.user.first_name }}</td>
        </tr>
        <tr>
            <th>Client Email</th>
            <td>{{ schedule.trial.booking.user.email }}</td>
        </tr>
        <tr>
            <th>Case Abstract</th>
            <td>
                {% if schedule.trial.booking.content %}
                    <a href="{{ schedule.trial.booking.content.url }}" target="_blank">View</a>
                    <a href="{{ schedule.trial.booking.content.url }}" download>Download</a>
                {% else %}
                    No file uploaded
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Trial Status</th>
            <td style="color: green; font-weight: bold;">{{ schedule.status }}</td>
        </tr>
        <tr>
            <th>Scheduled Date</th>
            <td>{{ schedule.scheduled_date }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ schedule.scheduled_time }}</td>
        </tr>
        <tr>
            <th>Jury Assigned</th>
            <td>{{ schedule.jury.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p style="text-align: center; margin-top: 20px;">No trial schedule found.</p>
    {% endif %}
</div>

{% include 'footer1.html' %}
